<h1 class="display-4">Wecome to ArticleBase</h1>
<p class="mb-4">This is a sails.js app for managing articles</p>
<a href="/feedback/list" class="btn btn-light">View Feedback</a>
<a href="/feedback/add" class="btn btn-light">Add Questions</a>